.elementor-95 .elementor-element.elementor-element-341559d{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:10;}.elementor-95 .elementor-element.elementor-element-7bb0c1e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-7bb0c1e > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-7a66fa6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-730e94e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-730e94e > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-8e881b0{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-c7c0ee7 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-a87b59c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-a87b59c{width:auto;max-width:auto;align-self:flex-start;}.elementor-95 .elementor-element.elementor-element-5cf62c6 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-650e532 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-bebc710 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-7a07f94 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-9e35f2b > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-222b1b8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-3be8210 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-924b1d1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-1018cd7 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-b600546 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e4e02e8 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-2f0adef > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-01be479 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-421954d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e8e1335 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-5f8f3de > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-b97b68f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:10;}.elementor-95 .elementor-element.elementor-element-c6a0842 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-c6a0842{z-index:9;}.elementor-95 .elementor-element.elementor-element-8f47427{width:auto;max-width:auto;align-self:flex-start;}.elementor-95 .elementor-element.elementor-element-abb2b01{z-index:9;top:0px;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-abb2b01{right:0px;}body.rtl .elementor-95 .elementor-element.elementor-element-abb2b01{left:0px;}.elementor-95 .elementor-element.elementor-element-dbce14b{z-index:10;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-6b590dd{right:0px;}body.rtl .elementor-95 .elementor-element.elementor-element-6b590dd{left:0px;}.elementor-95 .elementor-element.elementor-element-6b590dd{top:0px;}.elementor-95 .elementor-element.elementor-element-152a37e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-a3585ff > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-8ee8333 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-e98d95d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-effd7f3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-c81d5a0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-c9742fe > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-7dc8c60 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-7c42ba00 > .elementor-container{min-height:400px;}.elementor-95 .elementor-element.elementor-element-7c42ba00 > .elementor-container:after{content:"";min-height:inherit;}.elementor-95 .elementor-element.elementor-element-7c42ba00 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-95 .elementor-element.elementor-element-7c42ba00, .elementor-95 .elementor-element.elementor-element-7c42ba00 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-7c42ba00{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-7c42ba00 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-95 .elementor-element.elementor-element-23c63e22.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-95 .elementor-element.elementor-element-23c63e22.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-95 .elementor-element.elementor-element-23c63e22 > .elementor-element-populated{margin:120px 0px 20px 120px;}.elementor-95 .elementor-element.elementor-element-23e59b02 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-79db312 > .elementor-widget-container{margin:160px 0px 0px 0px;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-79db312{left:0px;}body.rtl .elementor-95 .elementor-element.elementor-element-79db312{right:0px;}.elementor-95 .elementor-element.elementor-element-79db312{top:0px;}.elementor-95 .elementor-element.elementor-element-52306394 > .elementor-element-populated{margin:0px 0px 0px 20px;}.elementor-95 .elementor-element.elementor-element-3a3f0cc7 > .elementor-element-populated{margin:0px 0px 0px 60px;}.elementor-95 .elementor-element.elementor-element-4a5e9786 > .elementor-element-populated{margin:0px 60px 0px 0px;}.elementor-95 .elementor-element.elementor-element-3481325b > .elementor-element-populated{margin:0px 20px 0px 0px;}.elementor-95 .elementor-element.elementor-element-6ee33571 > .elementor-element-populated{margin:0px 0px 0px 16px;}.elementor-95 .elementor-element.elementor-element-75f6a82e{margin-top:40px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-45fb1cdd{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-9ffd763{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-2633ae6f{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-596b94ab{margin-top:40px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-3ce764cd{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-6072bb36{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-4c9a8aaa{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-3b179a3f{margin-top:40px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-5ce938bf{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-2d16f627{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-4fe0124b{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-828a11b{margin-top:20px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-3f9fab27{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-35965355{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-4a0b38ca{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-7f35e67d{margin-top:20px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-4c187b2f{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-356365a3{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-709fa41f{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-85efbf4{margin-top:20px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-0c54ed6{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-782af75{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-c9352f1{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-808a6c4{margin-top:20px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-95 .elementor-element.elementor-element-aa51fae{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-54ab98cd > .elementor-container{min-height:400px;}.elementor-95 .elementor-element.elementor-element-54ab98cd > .elementor-container:after{content:"";min-height:inherit;}.elementor-95 .elementor-element.elementor-element-54ab98cd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-95 .elementor-element.elementor-element-54ab98cd, .elementor-95 .elementor-element.elementor-element-54ab98cd > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-54ab98cd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:40px;margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-54ab98cd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-95 .elementor-element.elementor-element-3ed8e084.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-95 .elementor-element.elementor-element-3ed8e084.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-95 .elementor-element.elementor-element-3ed8e084 > .elementor-element-populated{margin:0px 0px 0px 120px;}.elementor-95 .elementor-element.elementor-element-66d3f19 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-183b468f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-458a374 > .elementor-widget-container{margin:144px 0px 0px 0px;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-458a374{left:0px;}body.rtl .elementor-95 .elementor-element.elementor-element-458a374{right:0px;}.elementor-95 .elementor-element.elementor-element-458a374{top:0px;}.elementor-95 .elementor-element.elementor-element-bb4ba3c{overflow:hidden;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-4ab6d7d > .elementor-element-populated{margin:40px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-56a0354{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-adeb556 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-22a21fb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-b4752a7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-9c30de1 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-80303a3 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-4b3f336 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-87d5e54 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-2134edc{margin-top:40px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-978bc3d > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-a1ede42 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-3549420 .elementor-text-editor{text-align:center;}.elementor-95 .elementor-element.elementor-element-3549420{width:auto;max-width:auto;}.elementor-95 .elementor-element.elementor-element-a684366 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:767px){.elementor-95 .elementor-element.elementor-element-c6a0842 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 12px;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-abb2b01{right:12px;}body.rtl .elementor-95 .elementor-element.elementor-element-abb2b01{left:12px;}body:not(.rtl) .elementor-95 .elementor-element.elementor-element-6b590dd{right:4px;}body.rtl .elementor-95 .elementor-element.elementor-element-6b590dd{left:4px;}.elementor-95 .elementor-element.elementor-element-6b590dd{top:-40px;}.elementor-95 .elementor-element.elementor-element-23c63e22 > .elementor-element-populated{margin:84px 20px 0px 32px;}.elementor-95 .elementor-element.elementor-element-52306394 > .elementor-element-populated{margin:0px 32px 0px 32px;}.elementor-95 .elementor-element.elementor-element-3a3f0cc7 > .elementor-element-populated{margin:0px 32px 0px 32px;}.elementor-95 .elementor-element.elementor-element-512d37f9{margin-top:24px;margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-4a5e9786 > .elementor-element-populated{margin:0px 32px 0px 32px;}.elementor-95 .elementor-element.elementor-element-3481325b > .elementor-element-populated{margin:64px 32px 0px 32px;}.elementor-95 .elementor-element.elementor-element-6ee33571 > .elementor-element-populated{margin:0px 48px 0px 48px;}.elementor-95 .elementor-element.elementor-element-75f6a82e{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-650b4f63.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-44d246f3{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-0c46d9c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-8848758{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-373bb2f8.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-1fb9d08c{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-596b94ab{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-168227da.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-2ad152bc{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-4379ed76.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-6375885c{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-1510f6f7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-24ea6250{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-3b179a3f{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-694aea74.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-606470ba{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-779e0b4b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-caaf815{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-5692027a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-1dc7c2a3{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-828a11b{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-1b8a5575.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-54b2a3c6{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-465ba832.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-182c913d{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-728aee68.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-97636a6{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-7f35e67d{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-26c018ec.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-5513f60a{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-4bb541cf.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-31fd2ec9{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-54c32bc5.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-74653faf{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-85efbf4{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-c573535.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-7e3ec67{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-ebd5693.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-3f262db{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-5b27811.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-1e00853{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-808a6c4{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 40px;}.elementor-95 .elementor-element.elementor-element-6033cad.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-ba96b4b{width:240px;max-width:240px;}.elementor-95 .elementor-element.elementor-element-ef4135f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-2013dbf.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-95 .elementor-element.elementor-element-54ab98cd{margin-top:60px;margin-bottom:0px;}.elementor-95 .elementor-element.elementor-element-3ed8e084 > .elementor-element-populated{margin:0px 0px 0px 24px;}.elementor-95 .elementor-element.elementor-element-bb4ba3c{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-4ab6d7d > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-95 .elementor-element.elementor-element-56a0354{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-95 .elementor-element.elementor-element-9c30de1 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-95 .elementor-element.elementor-element-80303a3 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-95 .elementor-element.elementor-element-4b3f336 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-95 .elementor-element.elementor-element-87d5e54 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-95 .elementor-element.elementor-element-a1ede42{width:92%;}.elementor-95 .elementor-element.elementor-element-a1ede42 > .elementor-element-populated{margin:0px 0px 0px 20px;}.elementor-95 .elementor-element.elementor-element-3549420 > .elementor-widget-container{margin:0px 0px 0px 2px;}.elementor-95 .elementor-element.elementor-element-3549420{width:240px;max-width:240px;}}@media(min-width:768px){.elementor-95 .elementor-element.elementor-element-7bb0c1e{width:25%;}.elementor-95 .elementor-element.elementor-element-730e94e{width:75%;}.elementor-95 .elementor-element.elementor-element-52306394{width:40%;}.elementor-95 .elementor-element.elementor-element-3a3f0cc7{width:60%;}.elementor-95 .elementor-element.elementor-element-4a5e9786{width:60%;}.elementor-95 .elementor-element.elementor-element-3481325b{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-95 .elementor-element.elementor-element-c6a0842{width:100%;}.elementor-95 .elementor-element.elementor-element-dbce14b{width:100%;}}/* Start custom CSS for section, class: .elementor-element-341559d *//* Global */

@font-face { 
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 400;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-medium-webfont';
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 500;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-semibold-webfont';
		font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 600;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-bold-webfont';
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 700;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.ttf') format('truetype');
}

html {
    font-family: 'Basier-Circle', Arial, sans-serif;
    font-size: 16px;
    background-color: #fefefe;
    overflow-x: hidden !important;
}

/* Header */
.nav-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2em 0 0.5em 0 !important;
    background-color: #F5F5F5;
}
@media (max-width:768px) { 
.nav-header {
    position: -webkit-sticky;
    position: sticky;
    padding: 0.5em 0 0 0 !important;
    background-color: #F5F5F5;
}}

/* Typography */
h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 2em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
.cta-text {
    font-size: 4em;
    color: #FEFEFE;
}
h2 {
    margin-bottom: 0.5em;
    max-width: 600px;
    margin: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 2em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
h3 {
    margin: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
p {
    margin: 0;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #6c6c6c;
}
.white {
    color: #fefefe;
}
a {
    display: inline-block;
    margin: 0.5em 0;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    color: #FEBD55;
}
.quote {
    font-size: 1.5em;
    font-weight: 900;
    text-indent: -0.5em;
    color: #1c1c1c;
}
.quote-caption {
    line-height: 2;
    margin: 0.5em 0 0 0;
}
.quote-caption-name {
    font-weight: 900;
}
@media (max-width:414px) { 
h1 {
    font-size: 3em;
    line-height:1.25;
}}
@media (max-width:375px) { 
h1 {
    font-size: 2.5em;
    line-height:1.2;
}}

/* List Items */
.list1 {
    width: 25em;
    padding-bottom: 1em;
}
@media (max-width:768px) {
.list1 {
    width: 100%;
}}

/* Navigation */
.nav-logo {
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-logo {
    padding: 0.5em 0 0 1em;
}}
.nav-dtp {
    display: block;
}
@media (max-width:768px) { 
.nav-dtp {
    display: none;
}}
#lang-mb {
    display: inline-block;
    position: absolute;
    top: 1.25em;
    right: 3em;
    margin: -1.5em 0 0 0;
}
.nav-mb {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0;
}
@media (max-width:768px) { 
.nav-mb {
    display: block;
    width: auto;
}}
.nav-mb-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5em;
    height: 100%;
    background-color: #124E5D;
    overflow: hidden;
}
.mb-nav-close {
  max-width: 2.5em;
  margin: -1.5em 0 0 0;
}
.lang-clm {
    display: inline-block;
    float: right !important;
    margin: -0.5em -0.5em 0 2.5em;
    width: 120px !important;
}
.nav-clm {
    display: inline-block;
    float: right !important;
    margin: 0.5em 1em 0 0;
    width: auto !important;
}
.nav-clm-yellow {
    display: flex;
    float: right !important;
    margin: 0.5em -0.5em 0 0;
    width: auto !important;
}
.nav-dropdown {
    display: inline-block;
    float: right !important;
    width: auto !important;
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-dropdown {
    display: block;
    float: left !important;
    width: 100%;
    padding: 1em 0 0 0;
}}
.nav-dropdown-container {
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    float: right !important;
    top: 5.5em;
    height: 0;
}
.nav-dropdown-menu {
    display: inline-block;
    float: right !important;
    padding: 0.75em 0.75em 0.75em 1.25em;
    max-width: 10.75em;
    background-color: #f6f8f9;
    box-shadow: 0 2px 24px #2C2C2C4;
}
.nav-dropdown-svg {
    display: inline-block;
    margin: 0;
}
#product, #resources, #company {
    display: none;
    position: absolute;
    top: 2em;
    left: -1.25em;
}
@media (max-width:768px) { 
#product, #resources, #company {
    display: none;
    position: relative;
}}
#productMb, #resourcesMb, #companyMb {
    display: none;
    padding: 0 0 0 1.5em;
}
#productInActive, #resourcesInActive, #companyInActive {
    display: inline-block;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
#productActive, #resourcesActive, #companyActive {
    display: none;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
/* Buttons */
.plain-btn {
    display: inline-block;
    width: auto !important;
    margin: -0.25em 0 0 0;
    padding: 0.25em 0.15em 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
    color: #6C6C6C;
}.nav-clm:hover .plain-btn {
    color: #124E5D;
}
.nav-clm:hover .nav-dropdown-svg {
    fill: #124E5D;
}
.nav-dropdown-menu .plain-btn:hover {
    color: #124E5D;
}
.plain-btn:active {
    color: #124E5D;
}
.plain-btn-yellow {
    margin: -0.25em -0.25em 0 0;
    padding: 0.25em 1.5em 0 0;
    font-weight: 400;
    line-height: 1.2;
    color: #FEBD55;
}
.plain-btn-yellow:hover {
    color: #124E5D;
}
.plain-btn-yellow:active {
    color: #124E5D;
}
.outline-btn-1 {
    margin: -0.6em 0 0 0.5em;
    padding: 0.5em 1em;
    border: 2px solid #FEBD55;
    border-radius: 4px;
    font-family: 'Lato', Arial, Sans-Serif;
    font-weight: 400;
    color: #FEBD55;
    line-height: 1.25;
}
.outline-btn-1:hover {
    border-color: #124E5D;
    color: #124E5D;
}
.outline-btn-1:active {
    border-color: #124E5D;
    color: #124E5D;
}
.plain-btn-dropdown {
    display: block;
    padding: 0.5em 0.15em 0.5em 0;
    width: 12em;
    margin: -0.25em 0 0 0;
    font-weight: 400;
    line-height: 1.2;
    color: #6C6C6C;
}
.plain-btn-dropdown:hover {
    color: #124E5D;
}
.plain-btn-dropdown:active {
    color: #124E5D;
}
.btn {
    display: inline-block;
    padding: 1em 3em;
    text-align: center;
    border-radius: 4px;
    background-color: #FEBD55;
    color: #FEFEFE;
    font-family: 'Lato', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08px;
}
.btn:hover {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.12);
    position:relative; top: -1px;
}
.mb-btn {
    display: block;
    width: auto;
    margin: 0;
    padding: 0 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 400;
    color: #FEFEFE;
}
.mb-btn-dropdown {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.25em 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 400;
    color: #fefefe;
}
.yellow {
    display: block;
    width: 10em;
    color: #FEBD55 
}
.mb-btn:active {
  color: #2C2C2C;
}
.btn-cta {
    background-color: #FEBD55;
}
@media (max-width:768px) {
.btn-solid-1 {
    display: block;
    max-width: 84%;
    margin-left: 0;
    margin-right: 20px;
}}

/* Navigation For Home page
.nav-logo {
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-logo {
    padding: 0.5em 0 0 1em;
}}
.nav-dtp {
    display: block;
}
@media (max-width:768px) { 
.nav-dtp {
    display: none;
}}
#lang-mb {
    display: inline-block;
    position: absolute;
    top: 1.25em;
    right: 3em;
    margin: -1.5em 0 0 0;
}
.nav-mb {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0;
}
@media (max-width:768px) { 
.nav-mb {
    display: block;
    width: auto;
}}
.nav-mb-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5em;
    height: 100%;
    background-color: #124E5D;
    overflow: hidden;
}
.mb-nav-close {
  max-width: 2.5em;
  margin: -1.5em 0 0 0;
}
.lang-clm {
    display: inline-block;
    float: right !important;
    margin: -0.5em -0.5em 0 2.5em;
    width: 120px !important;
}
.nav-clm {
    display: inline-block;
    float: right !important;
    margin: 0.5em 1em 0 0;
    width: auto !important;
}
.nav-clm-yellow {
    display: flex;
    float: right !important;
    margin: 0.5em -0.5em 0 0;
    width: auto !important;
}
.nav-dropdown {
    display: inline-block;
    float: right !important;
    width: auto !important;
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-dropdown {
    display: block;
    float: left !important;
    width: 100%;
    padding: 1em 0 0 0;
}}
.nav-dropdown-container {
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    float: right !important;
    top: 5.5em;
    height: 0;
}
.nav-dropdown-menu {
    display: inline-block;
    float: right !important;
    padding: 0.75em 0.75em 0.75em 1.25em;
    max-width: 10.75em;
    background-color: #124E5D;
    box-shadow: 0 2px 24px #2C2C2C64;
}
.nav-dropdown-svg {
    display: inline-block;
    margin: 0;
}
#product, #resources, #company {
    display: none;
    position: absolute;
    top: 2em;
    left: -1.25em;
}
@media (max-width:768px) { 
#product, #resources, #company {
    display: none;
    position: relative;
}}
#productMb, #resourcesMb, #companyMb {
    display: none;
    padding: 0 0 0 1.5em;
}
#productInActive, #resourcesInActive, #companyInActive {
    display: inline-block;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
#productActive, #resourcesActive, #companyActive {
    display: none;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}

/* Buttons For Home page 
.plain-btn {
    display: inline-block;
    width: auto !important;
    margin: -0.25em 0 0 0;
    padding: 0.25em 0.15em 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
    color: #FEFEFE;
}.nav-clm:hover .plain-btn {
    color: #6C6C6C;
}
.nav-clm:hover .nav-dropdown-svg {
    fill: #6C6C6C;
}
.nav-dropdown-menu .plain-btn:hover {
    color: #6C6C6C;
}
.plain-btn:active {
    color: #6C6C6C;
}
.plain-btn-yellow {
    margin: -0.25em -0.25em 0 0;
    padding: 0.25em 1.5em 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #FEBD55;
}
.plain-btn-yellow:hover {
    color: #6C6C6C;
}
.plain-btn-yellow:active {
    color: #6C6C6C;
}
.outline-btn-1 {
    margin: -0.6em 0 0 0.5em;
    padding: 0.5em 1em;
    border: 2px solid #FEBD55;
    border-radius: 4px;
    font-family: 'Lato', Arial, Sans-Serif;
    font-weight: 500;
    color: #FEBD55;
    line-height: 1.25;
}
.outline-btn-1:hover {
    border-color: #6C6C6C;
    color: #6C6C6C;
}
.outline-btn-1:active {
    border-color: #6C6C6C;
    color: #6C6C6C;
}
.plain-btn-dropdown {
    display: block;
    padding: 0.5em 0.15em 0.5em 0;
    width: 12em;
    margin: -0.25em 0 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #FEFEFE;
}
.plain-btn-dropdown:hover {
    color: #6C6C6C;
}
.plain-btn-dropdown:active {
    color: #6C6C6C;
}
.btn {
    display: inline-block;
    padding: 1em 3em;
    text-align: center;
    border-radius: 4px;
    background-color: #FEBD55;
    color: #FEFEFE;
    font-family: 'Lato', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08px;
}
.btn:hover {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.12);
    position:relative; top: -1px;
}
.mb-btn {
    display: block;
    width: auto;
    margin: 0;
    padding: 0 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #FEFEFE;
}
.mb-btn-dropdown {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.25em 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #FEFEFE;
}
.yellow {
    display: block;
    width: 10em;
    color: #FEBD55 
}
.mb-btn:active {
  color: #2C2C2C;
}
.btn-cta {
    background-color: #FEBD55;
}
@media (max-width:768px) {
.btn-solid-1 {
    display: block;
    max-width: 84%;
    margin-left: 0;
    margin-right: 20px;
}}
*/

/* Banner */
.banner {
    margin: 0 0 10em 0 !important;
    height: 720px;
    overflow: hidden !important;
    background-color: #F5F5F5;
}
.banner-text {
    margin: 10em 0 0 0.25em;
    max-width: 600px;
}
.banner-text p {
    margin: 0 2em 2em 0;
}
.banner-image {
    margin: 3.75em 0 0 0;
} 
@media (max-width:768px) {
.banner {
    margin: 0 0 4em 0 !important;
    height: 840px;
    overflow: hidden;
    background-color: #F5F5F5;
}}
@media (max-width:768px) {
.banner-text {
    margin: 6em 0 0 2.5em !important;
}}
@media (max-width:768px) {
.banner-image {
    margin: 1em 0 0 0;
}} 

/* Trial Signup Forms */
#modalform, #popup {
    display: none;
}
.form-container {
    margin-left: 0.25em;
}
.grey-label {
    padding-bottom: 0.5em !important;
    color: #6C6C6C; 
}
.grey-label.white {
    color: #FEFEFE; 
}
.grey-placeholder {
    padding-left: 1em;
    margin-top: 1em;
    color: #FEFEFE !important; 
}
.email-field {
    padding-left:1em;
    margin-top: 1em;
    margin-right: 1em;
    width: 320px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #6C6C6C;
    background-color: #F5F5F5;
    color: #FEFEFE !important;
}
.email-field.white {
    border: solid 1px #F5F5F5;
    background-color: #124E5D;
}
.button {
    padding: 0.75em 2em;
    height: 56px;
    color: #FEFEFE;
    background-color: #FEBD55 ;
    border: 4px solid #FEBD55;
    border-radius: 3px;
}
#email {
    width: 320px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #FEFEFE;
    background-color: #124E5D;
    color: #FEFEFE !important;
}
@media (max-width:768px) {
#email {
    margin-bottom: 20px;
    width: 100%;
}
#getStarted {
    margin: 0;
    width: 100%;
}
}
.formgrp {
    padding-bottom: 16px;
    padding-top: 16px;
}
.modal-content {
    width: 760px !important;
    height: 1050px;
    border-radius: 8px;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    background-color: #FEFEFE;
    padding-left: 24px;
    padding-right: 24px;
}
.modal-content3{
    width: 500px !important;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    background-color: #FEFEFE;
    padding-left: 24px;
    padding-right: 24px;
}
@media (max-width:768px) {
.modal-content {
    width: 100% !important;
    height: auto;
    /*padding-left: 24px;
    padding-right: 24px;*/
}
.modal-content3 {
    width: 100% !important;
    height: auto;
    /*padding-left: 24px;
    padding-right: 24px;*/
}}
.labeltext {
    width: 200px;
    height: 20px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1c1c;
    padding-bottom: 12px;
}
.modal-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1c1c;
}
#textdetail {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c6c6c;
}
.signupbtn {
    width: 243px;
    height: 52px;
    background-color: #febd55;
    border-radius: 4px !important;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fefefe;
}
.form-control {
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c6c6c;
    background-color: #fefefe;
}
#modalemail {
    width: 450px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.companycat {
    width: 450px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
/*.phonefield {
    width: 290px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}*/
.countryfield {
   width: 210px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.namefields {
    width: 205px;
    height: 52px;
    border-radius: 4px !important;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.namefields:focus {
    border: 2px solid #222;
    background-color: #fefefe;
}
#privacy-notice {
    padding: 0 24px !important;
}
@media (max-width:768px) {
#modalemail {
    width: 100%;
    height: 52px;
}
.companycat {
    width: 100%;
    height: 52px;
}
.phonefield {
    width: 100%;
    height: 52px;
}    
.countryfield {
    width: 100%;
    height: 52px;
}
.namefields {
    width: 100%;
    height: 52px;
}}

/* Sections */
.section {
    margin: 7.5em 0 0 0 !important;
}
.feature-image-left {
    margin: 0 5em 0 0;
}
.feature-text-right {
    margin: 5em 0 0 2.5em !important;
}
.feature-image-right {
    margin: 0 0 0 5em;
}
.feature-text-left {
    max-width: 480px;
    margin: 5em -5em 0 2.5em !important;
}
@media (max-width:768px) {
.section {
    margin: 4em 0 0 0 !important;
}} 
@media (max-width:768px) {
.feature-image-left {
    margin: 0 0;
}}
@media (max-width:768px) {
.feature-text-right {
    margin: 1em 1em 0 2.5em !important;
}}
@media (max-width:768px) {
.feature-image-right {
    margin: 0 0;
}}
@media (max-width:768px) {
.feature-text-left {
    margin: 1em 1em 0 2.5em !important;
}}

/* Cards */
.features-section-title-home {
    padding: 0 2em !important;
    margin: 10em 0 0 0 !important;
}
.features-section-title {
    margin: 10em 0 0 0 !important;
}
@media (max-width:768px) {
.features-section-title {
    margin: 7.5em 0 0 2.5em !important;
}}.features-container {
    padding: 2em !important;
    margin: 3em 0 -2em 0 !important;
    overflow: hidden !important;
}
@media (max-width:768px) {
.features-container {
    margin: 2.5em 0 0 0 !important;
}}
.features-card-home-1 {    
    max-width: 960px !important;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card-home-2 {
    max-width: 960px !important;
    padding:  3em 2.5em 3em 3em;
    margin: 0 0 0 2em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card-home-1:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card {
    max-width: 620px;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.card-middle {
    margin: 0 2em;
}
.features-icon {
    padding: 0 0 1.5em 0;
}
.features-title {
    padding: 0 0 0.5em 0;
}
.features-card:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
@media (max-width:768px) {
.features-card {
    margin: 0 0 0 0;
    max-width: 100%;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C00;
}}

/* Testimonials */
.testimonials-container {
    width: 2560px !important;
    padding: 2em !important;
    margin-top: 2em !important;
    overflow: hidden !important;
}
.testimonials-container {
    animation-duration: 25s;
    animation-name: slide;
    animation-iteration-count: infinite;
}
@keyframes slide {
  0% {margin-left: 0;}
  100% {margin-left: -40em;}
}
.testimonials-container-title {
    padding: 0 2em !important;
    margin: 10em 0 0 0 !important;
}
.testimonial-card {
    padding: 2em 2em 2em 2em;
    max-width: 620px;
    background: #FEFEFE;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.testimonial-text {
    font-size: 16px;
    font-weight: 600;
    text-indent: -8px;
    color: #2C2C2C;
}
.testimonial-image {
    margin: 1.5em 0 0 0;
}
.testimonial-name {
    width: 232px;
    margin: 1.5em 0 0 1.5em;
    color: #6C6C6C;
    font-weight: 900;
}
.testimonial-position {
    width: 232px;
    margin: 0 0 0 1.5em;
    color: #2C2C2C;
    font-weight: 400;
}
.testimonial {
    margin-top: 8em !important;
}
@media (max-width:768px) {
.testimonial {
    margin: 5em auto 0 !important;
    width: 100%;
}}

/* Call to Action */
.cta {
    margin: 10em auto 0 !important;
    padding: 7.5em 10em 7.5em 10em !important;
    width: 1280px;
}
@media (max-width:768px) {
.cta {
    margin: 5em auto 0 !important;
    padding: 6em 0 6em 2em !important;
    width: 100%;
}}

/* Footer */
.footer {
    margin: 20em 0 0 0 !important;
    padding: 2em 0 1em 0 !important;
    background-color: #F4F6F6;
}
@media (max-width:768px) {
.footer {
    margin: 10em 0 0 0 !important;
}}
.footer-container {
    margin: -2.5em 0 0 0;
}
@media (max-width:768px) {
.footer-container {
    margin: -1em 0 0 0;
}}
.footer-logo {
    margin: 1.5em 5em 0.5em 0;
}
.footer-title {
    margin: 2em 0 1em 0;
}
.footer-plain-btn { 
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: 300;
  color: #1c1c1c;
}
.footer-text { 
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: 300;
  color: #1c1c1c;
}
@media (max-width:768px) { 
.footer-text {
  text-align: left;
}}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-abb2b01 */.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}
@media screen and (max-width: 768px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 0px;
}}
@media screen and (max-width: 414px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}}
@media screen and (max-width: 375px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c6a0842 */.nav-mb-icon {
    width: 768px;
}
@media screen and (max-width:768px) { 
.nav-mb-icon {
    width: 768px;
}}
@media screen and (max-width:414px) { 
.nav-mb-icon {
    width: 414px;
}}
@media screen and (max-width:375px) { 
.nav-mb-icon {
    width: 375px;
}}/* End custom CSS */
/* Start custom CSS for spacer, class: .elementor-element-23e59b02 */.line-3 {
  max-width: 32px;
  height: 6px;
  background-color: #1E434A;
  display: none;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5ae78999 */.abt-body-title {
  max-width: 380px;
  margin: 0px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-63f5d791 */p {
  margin: 0;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #8d8d8d;
}

.abt-body-txt {
  margin-bottom: 12px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-c3e3a7e */.abt-section-1 {
  margin-top: 160px;
}

@media screen and (max-width: 1024px) { .abt-section-1 {
  margin-top: 120px;
}}

@media screen and (max-width: 768px) { .abt-section-1 {
  margin-top: 120px;
}}

@media screen and (max-width: 414px) { .abt-section-1 {
  margin-top: 96px;
}}

@media screen and (max-width: 375px) { .abt-section-1 {
  margin-top: 96px;
}}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-512d37f9 */.abt-section-2 {
  margin-top: 160px;
}

@media screen and (max-width: 1024px) { .abt-section-2 {
  margin-top: 120px;
}}

@media screen and (max-width: 768px) { .abt-section-2 {
  margin-top: 120px;
}}

@media screen and (max-width: 414px) { .abt-section-2 {
  margin-top: 120px;
}}

@media screen and (max-width: 375px) { .abt-section-2 {
  margin-top: 80px;
}}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5d36e3dc */.abt-section-3 {
  margin-top: 120px;
}

@media screen and (max-width: 1024px) { .abt-section-3 {
  margin-top: 120px;
}}

@media screen and (max-width: 768px) { .abt-section-3 {
  margin-top: 120px;
}}

@media screen and (max-width: 414px) { .abt-section-3 {
  margin-top: 60px;
}}

@media screen and (max-width: 375px) { .abt-section-3 {
  margin-top: 60px;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-45fb1cdd */h3 {
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 900;
  color: #1e434a;
}

.accent {
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  color: #8d8d8d;   
}

.team-caption-1 {
  margin: 0;
  margin-left: 8px;
  max-width: 280px;
}
.team-caption-2 {
  margin: 0;
  margin-left: 8px;
  max-width: 280px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-650b4f63 */.team-photo-1 {
 margin-left: 12px;
 margin-right: 12px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-183b468f */.abt-cta-txt {
  max-width: 30vw;
  margin-bottom: 56px;
}

@media screen and (max-width: 414px) { .abt-cta-txt {
  max-width: none;
  margin-top: -60px;
  margin-bottom: 32px;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-513cb8e */.outline-btn-abt-cta {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  border: solid 2px #11a263;
  color: #11a263;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08px;
}

.elementor-95 .elementor-element.elementor-element-513cb8e {
    width: auto;
}
.outline-btn-abt-cta:hover {
  box-shadow: 0 4px 4px 4px rgba(141, 141, 141, 0.08);
  position: relative; top: -1px;
}

@media (max-width: 768px) { .outline-btn-abt-cta {
  display: block;
  margin: 0 auto;
  padding-left: 85px;
  width: 280px;
  font-size: 16px;
}}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-bb4ba3c */.footer {
  position: static;
  bottom: 0;
}

@media screen and (max-width: 414px) { .footer {
  overflow: hidden;
}}

@media screen and (max-width: 375px) { .footer {
  overflow: hidden;
}}/* End custom CSS */