.elementor-97 .elementor-element.elementor-element-d2583f8{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:10;}.elementor-97 .elementor-element.elementor-element-8f6d257 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-8f6d257 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-fa88134 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-086d42f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-086d42f > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-a61558a{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5dd609e > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-54eaf75 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-54eaf75{width:auto;max-width:auto;align-self:flex-start;}.elementor-97 .elementor-element.elementor-element-8fef770 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-6163a97 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-da639c6 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-bbcec00 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-db22cd7 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-008de0c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-a5bd98f > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-6acfff9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-9d8542a > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-388b979 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-c5d80ac > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-4d8ecf6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5e099fa > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-09441e3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-914dff8 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-c2b2a6b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-988277f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:10;}.elementor-97 .elementor-element.elementor-element-1a91083 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-1a91083{z-index:9;}.elementor-97 .elementor-element.elementor-element-7d5f875{width:auto;max-width:auto;align-self:flex-start;}.elementor-97 .elementor-element.elementor-element-6d05095{z-index:9;top:0px;}body:not(.rtl) .elementor-97 .elementor-element.elementor-element-6d05095{right:0px;}body.rtl .elementor-97 .elementor-element.elementor-element-6d05095{left:0px;}.elementor-97 .elementor-element.elementor-element-5b1c90c{z-index:10;}body:not(.rtl) .elementor-97 .elementor-element.elementor-element-56abc41{right:0px;}body.rtl .elementor-97 .elementor-element.elementor-element-56abc41{left:0px;}.elementor-97 .elementor-element.elementor-element-56abc41{top:0px;}.elementor-97 .elementor-element.elementor-element-9258f8e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-3de0654 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-1eb8cb0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-ccc0fdf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-3103651 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-6c83d3c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5688ec9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-59164bd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-7b318e7a, .elementor-97 .elementor-element.elementor-element-7b318e7a > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-7b318e7a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-7b318e7a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-97 .elementor-element.elementor-element-295ba497.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-97 .elementor-element.elementor-element-295ba497.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-97 .elementor-element.elementor-element-295ba497 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-97 .elementor-element.elementor-element-295ba497 > .elementor-element-populated{margin:120px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-313e0215 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-24250692 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group{margin-bottom:24px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group.recaptcha_v3-bottomleft, .elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-form-fields-wrapper{margin-bottom:-24px;}body.rtl .elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-type-html{padding-bottom:0px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group .elementor-field{color:#0C1A1D;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group .elementor-field, .elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-subgroup label{font-size:14px;font-weight:300;text-decoration:none;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#C4C4C4;border-radius:4px 4px 4px 4px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#C4C4C4;border-radius:4px 4px 4px 4px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-field-group .elementor-select-wrapper::before{color:#C4C4C4;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-button{background-color:#11A263;color:#FEFEFE;font-size:18px;font-weight:500;border-radius:4px 4px 4px 4px;padding:15px 72px 15px 72px;}.elementor-97 .elementor-element.elementor-element-5932bf5a .elementor-button svg{fill:#FEFEFE;}.elementor-bc-flex-widget .elementor-97 .elementor-element.elementor-element-50cc88ac.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-97 .elementor-element.elementor-element-50cc88ac.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-97 .elementor-element.elementor-element-50cc88ac > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-50cc88ac > .elementor-element-populated{margin:280px 0px 0px 80px;}.elementor-97 .elementor-element.elementor-element-5096fbf9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-700fe2ef > .elementor-widget-container{margin:0px 0px 60px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-441f153b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-52cbf011 > .elementor-widget-container{margin:0px 0px 60px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-4efd2725 > .elementor-container{min-height:400px;}.elementor-97 .elementor-element.elementor-element-4efd2725 > .elementor-container:after{content:"";min-height:inherit;}.elementor-97 .elementor-element.elementor-element-4efd2725 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-97 .elementor-element.elementor-element-4efd2725{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:120px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-4efd2725, .elementor-97 .elementor-element.elementor-element-4efd2725 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-4efd2725 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-97 .elementor-element.elementor-element-4e414457 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-4532ae93 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-71d6674 > .elementor-container{min-height:400px;}.elementor-97 .elementor-element.elementor-element-71d6674 > .elementor-container:after{content:"";min-height:inherit;}.elementor-97 .elementor-element.elementor-element-71d6674 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-97 .elementor-element.elementor-element-71d6674{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:120px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-71d6674, .elementor-97 .elementor-element.elementor-element-71d6674 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-71d6674 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-97 .elementor-element.elementor-element-d6b9d92 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-919c0ff > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-1d0a26b > .elementor-container{min-height:400px;}.elementor-97 .elementor-element.elementor-element-1d0a26b > .elementor-container:after{content:"";min-height:inherit;}.elementor-97 .elementor-element.elementor-element-1d0a26b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-97 .elementor-element.elementor-element-1d0a26b{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:120px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-1d0a26b, .elementor-97 .elementor-element.elementor-element-1d0a26b > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-1d0a26b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-97 .elementor-element.elementor-element-fd8d537 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-e439cc4 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 40px 0px 40px;}.elementor-97 .elementor-element.elementor-element-fba72ba{overflow:hidden;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-27dfe88 > .elementor-element-populated{margin:40px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-225ee3f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-98d3433 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-ae28f82 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-a126a12 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-0953640 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-b2d5209 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5955cb5 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-62c43e2 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-7a6d3e0{margin-top:40px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-cd5ee36 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-5ba473d > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-98c0421 .elementor-text-editor{text-align:center;}.elementor-97 .elementor-element.elementor-element-98c0421{width:auto;max-width:auto;}.elementor-97 .elementor-element.elementor-element-8f1ce09 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-97 .elementor-element.elementor-element-295ba497 > .elementor-element-populated{margin:120px 0px 0px 120px;}.elementor-97 .elementor-element.elementor-element-50cc88ac > .elementor-element-populated{margin:120px 0px 0px 120px;}.elementor-97 .elementor-element.elementor-element-4efd2725{margin-top:120px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-71d6674{margin-top:120px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-1d0a26b{margin-top:120px;margin-bottom:0px;}}@media(min-width:768px){.elementor-97 .elementor-element.elementor-element-8f6d257{width:25%;}.elementor-97 .elementor-element.elementor-element-086d42f{width:75%;}.elementor-97 .elementor-element.elementor-element-295ba497{width:50%;}.elementor-97 .elementor-element.elementor-element-50cc88ac{width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-97 .elementor-element.elementor-element-1a91083{width:100%;}.elementor-97 .elementor-element.elementor-element-5b1c90c{width:100%;}.elementor-97 .elementor-element.elementor-element-4e414457{width:50%;}.elementor-97 .elementor-element.elementor-element-4532ae93{width:50%;}.elementor-97 .elementor-element.elementor-element-d6b9d92{width:50%;}.elementor-97 .elementor-element.elementor-element-919c0ff{width:50%;}.elementor-97 .elementor-element.elementor-element-fd8d537{width:50%;}.elementor-97 .elementor-element.elementor-element-e439cc4{width:50%;}}@media(max-width:767px){.elementor-97 .elementor-element.elementor-element-1a91083 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 12px;}body:not(.rtl) .elementor-97 .elementor-element.elementor-element-6d05095{right:12px;}body.rtl .elementor-97 .elementor-element.elementor-element-6d05095{left:12px;}body:not(.rtl) .elementor-97 .elementor-element.elementor-element-56abc41{right:4px;}body.rtl .elementor-97 .elementor-element.elementor-element-56abc41{left:4px;}.elementor-97 .elementor-element.elementor-element-56abc41{top:-40px;}.elementor-97 .elementor-element.elementor-element-7b318e7a{margin-top:0px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-295ba497 > .elementor-element-populated{margin:32px 32px 0px 32px;}.elementor-97 .elementor-element.elementor-element-50cc88ac > .elementor-element-populated{margin:72px 32px 0px 32px;}.elementor-97 .elementor-element.elementor-element-700fe2ef > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-97 .elementor-element.elementor-element-52cbf011 > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-97 .elementor-element.elementor-element-4efd2725{margin-top:32px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-4e414457 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-4532ae93 > .elementor-element-populated{margin:80px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-71d6674{margin-top:32px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-d6b9d92 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-919c0ff > .elementor-element-populated{margin:80px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-1d0a26b{margin-top:32px;margin-bottom:0px;}.elementor-97 .elementor-element.elementor-element-fd8d537 > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-e439cc4 > .elementor-element-populated{margin:80px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-fba72ba{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-27dfe88 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-97 .elementor-element.elementor-element-225ee3f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-97 .elementor-element.elementor-element-0953640 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-97 .elementor-element.elementor-element-b2d5209 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-97 .elementor-element.elementor-element-5955cb5 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-97 .elementor-element.elementor-element-62c43e2 > .elementor-element-populated{margin:0px 24px 0px 24px;}.elementor-97 .elementor-element.elementor-element-5ba473d{width:92%;}.elementor-97 .elementor-element.elementor-element-5ba473d > .elementor-element-populated{margin:0px 0px 0px 20px;}.elementor-97 .elementor-element.elementor-element-98c0421 > .elementor-widget-container{margin:0px 0px 0px 2px;}.elementor-97 .elementor-element.elementor-element-98c0421{width:240px;max-width:240px;}}/* Start custom CSS for section, class: .elementor-element-d2583f8 *//* Global */

@font-face { 
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 400;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-regular-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-medium-webfont';
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 500;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-medium-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-semibold-webfont';
		font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 600;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-semibold-webfont.ttf') format('truetype');
}

@font-face { 
	font-family: 'basiercircle-bold-webfont';
	font-family: 'Basier-Circle';
	font-style: normal;
    font-weight: 700;
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.eot');
	src: url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.woff') format('woff'),
	     url('https://optimetriks.com/wp-content/uploads/2020/09/basiercircle-bold-webfont.ttf') format('truetype');
}

html {
    font-family: 'Basier-Circle', Arial, sans-serif;
    font-size: 16px;
    background-color: #fefefe;
    overflow-x: hidden !important;
}

/* Header */
.nav-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2em 0 0.5em 0 !important;
    background-color: #FEFEFE;
}
@media (max-width:768px) { 
.nav-header {
    position: -webkit-sticky;
    position: sticky;
    padding: 0.5em 0 0 0 !important;
    background-color: #FEFEFE;
}}

/* Typography */
h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 3em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
.cta-text {
    font-size: 4em;
    color: #FEFEFE;
}
h2 {
    margin-bottom: 0.5em;
    max-width: 600px;
    margin: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 2em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
h3 {
    margin: 0;
    margin-bottom: 0.25em;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 700;
    line-height:1.25;
    letter-spacing: 1;
    color: #2C2C2C;
}
p {
    margin: 0;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #6c6c6c;
}
.white {
    color: #fefefe;
}
a {
    display: inline-block;
    margin: 0.5em 0;
    font-family: 'Basier-Circle', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    color: #FEBD55;
}
.quote {
    font-size: 1.5em;
    font-weight: 900;
    text-indent: -0.5em;
    color: #1c1c1c;
}
.quote-caption {
    line-height: 2;
    margin: 0.5em 0 0 0;
}
.quote-caption-name {
    font-weight: 900;
}
@media (max-width:414px) { 
h1 {
    font-size: 3em;
    line-height:1.25;
}}
@media (max-width:375px) { 
h1 {
    font-size: 2.5em;
    line-height:1.2;
}}

/* List Items */
.list1 {
    width: 25em;
    padding-bottom: 1em;
}
@media (max-width:768px) {
.list1 {
    width: 100%;
}}

/* Navigation */
.nav-logo {
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-logo {
    padding: 0.5em 0 0 1em;
}}
.nav-dtp {
    display: block;
}
@media (max-width:768px) { 
.nav-dtp {
    display: none;
}}
#lang-mb {
    display: inline-block;
    position: absolute;
    top: 1.25em;
    right: 3em;
    margin: -1.5em 0 0 0;
}
.nav-mb {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0;
}
@media (max-width:768px) { 
.nav-mb {
    display: block;
    width: auto;
}}
.nav-mb-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5em;
    height: 100%;
    background-color: #124E5D;
    overflow: hidden;
}
.mb-nav-close {
  max-width: 2.5em;
  margin: -1.5em 0 0 0;
}
.lang-clm {
    display: inline-block;
    float: right !important;
    margin: -0.5em -0.5em 0 2.5em;
    width: 120px !important;
}
.nav-clm {
    display: inline-block;
    float: right !important;
    margin: 0.5em 1em 0 0;
    width: auto !important;
}
.nav-clm-yellow {
    display: flex;
    float: right !important;
    margin: 0.5em -0.5em 0 0;
    width: auto !important;
}
.nav-dropdown {
    display: inline-block;
    float: right !important;
    width: auto !important;
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-dropdown {
    display: block;
    float: left !important;
    width: 100%;
    padding: 1em 0 0 0;
}}
.nav-dropdown-container {
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    float: right !important;
    top: 5.5em;
    height: 0;
}
.nav-dropdown-menu {
    display: inline-block;
    float: right !important;
    padding: 0.75em 0.75em 0.75em 1.25em;
    max-width: 10.75em;
    background-color: #f6f8f9;
    box-shadow: 0 2px 24px #2C2C2C4;
}
.nav-dropdown-svg {
    display: inline-block;
    margin: 0;
}
#product, #resources, #company {
    display: none;
    position: absolute;
    top: 2em;
    left: -1.25em;
}
@media (max-width:768px) { 
#product, #resources, #company {
    display: none;
    position: relative;
}}
#productMb, #resourcesMb, #companyMb {
    display: none;
    padding: 0 0 0 1.5em;
}
#productInActive, #resourcesInActive, #companyInActive {
    display: inline-block;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
#productActive, #resourcesActive, #companyActive {
    display: none;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
/* Buttons */
.plain-btn {
    display: inline-block;
    width: auto !important;
    margin: -0.25em 0 0 0;
    padding: 0.25em 0.15em 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
    color: #6C6C6C;
}.nav-clm:hover .plain-btn {
    color: #124E5D;
}
.nav-clm:hover .nav-dropdown-svg {
    fill: #124E5D;
}
.nav-dropdown-menu .plain-btn:hover {
    color: #124E5D;
}
.plain-btn:active {
    color: #124E5D;
}
.plain-btn-yellow {
    margin: -0.25em -0.25em 0 0;
    padding: 0.25em 1.5em 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #FEBD55;
}
.plain-btn-yellow:hover {
    color: #124E5D;
}
.plain-btn-yellow:active {
    color: #124E5D;
}
.outline-btn-1 {
    margin: -0.6em 0 0 0.5em;
    padding: 0.5em 1em;
    border: 2px solid #FEBD55;
    border-radius: 4px;
    font-family: 'Lato', Arial, Sans-Serif;
    font-weight: 500;
    color: #FEBD55;
    line-height: 1.25;
}
.outline-btn-1:hover {
    border-color: #124E5D;
    color: #124E5D;
}
.outline-btn-1:active {
    border-color: #124E5D;
    color: #124E5D;
}
.plain-btn-dropdown {
    display: block;
    padding: 0.5em 0.15em 0.5em 0;
    width: 12em;
    margin: -0.25em 0 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #6C6C6C;
}
.plain-btn-dropdown:hover {
    color: #124E5D;
}
.plain-btn-dropdown:active {
    color: #124E5D;
}
.btn {
    display: inline-block;
    padding: 1em 3em;
    text-align: center;
    border-radius: 4px;
    background-color: #FEBD55;
    color: #FEFEFE;
    font-family: 'Lato', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08px;
}
.btn:hover {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.12);
    position:relative; top: -1px;
}
.mb-btn {
    display: block;
    width: auto;
    margin: 0;
    padding: 0 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #FEFEFE;
}
.mb-btn-dropdown {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.25em 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #fefefe;
}
.yellow {
    display: block;
    width: 10em;
    color: #FEBD55 
}
.mb-btn:active {
  color: #2C2C2C;
}
.btn-cta {
    background-color: #FEBD55;
}
@media (max-width:768px) {
.btn-solid-1 {
    display: block;
    max-width: 84%;
    margin-left: 0;
    margin-right: 20px;
}}

/* Navigation For Home page
.nav-logo {
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-logo {
    padding: 0.5em 0 0 1em;
}}
.nav-dtp {
    display: block;
}
@media (max-width:768px) { 
.nav-dtp {
    display: none;
}}
#lang-mb {
    display: inline-block;
    position: absolute;
    top: 1.25em;
    right: 3em;
    margin: -1.5em 0 0 0;
}
.nav-mb {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0;
}
@media (max-width:768px) { 
.nav-mb {
    display: block;
    width: auto;
}}
.nav-mb-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5em;
    height: 100%;
    background-color: #124E5D;
    overflow: hidden;
}
.mb-nav-close {
  max-width: 2.5em;
  margin: -1.5em 0 0 0;
}
.lang-clm {
    display: inline-block;
    float: right !important;
    margin: -0.5em -0.5em 0 2.5em;
    width: 120px !important;
}
.nav-clm {
    display: inline-block;
    float: right !important;
    margin: 0.5em 1em 0 0;
    width: auto !important;
}
.nav-clm-yellow {
    display: flex;
    float: right !important;
    margin: 0.5em -0.5em 0 0;
    width: auto !important;
}
.nav-dropdown {
    display: inline-block;
    float: right !important;
    width: auto !important;
    padding: 0.25em 0 0 0;
}
@media (max-width:768px) { 
.nav-dropdown {
    display: block;
    float: left !important;
    width: 100%;
    padding: 1em 0 0 0;
}}
.nav-dropdown-container {
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    float: right !important;
    top: 5.5em;
    height: 0;
}
.nav-dropdown-menu {
    display: inline-block;
    float: right !important;
    padding: 0.75em 0.75em 0.75em 1.25em;
    max-width: 10.75em;
    background-color: #124E5D;
    box-shadow: 0 2px 24px #2C2C2C64;
}
.nav-dropdown-svg {
    display: inline-block;
    margin: 0;
}
#product, #resources, #company {
    display: none;
    position: absolute;
    top: 2em;
    left: -1.25em;
}
@media (max-width:768px) { 
#product, #resources, #company {
    display: none;
    position: relative;
}}
#productMb, #resourcesMb, #companyMb {
    display: none;
    padding: 0 0 0 1.5em;
}
#productInActive, #resourcesInActive, #companyInActive {
    display: inline-block;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}
#productActive, #resourcesActive, #companyActive {
    display: none;
    transform: scale(0.85);
    margin: 0.75em 0 0 -1.85em;
}

/* Buttons For Home page 
.plain-btn {
    display: inline-block;
    width: auto !important;
    margin: -0.25em 0 0 0;
    padding: 0.25em 0.15em 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
    color: #FEFEFE;
}.nav-clm:hover .plain-btn {
    color: #6C6C6C;
}
.nav-clm:hover .nav-dropdown-svg {
    fill: #6C6C6C;
}
.nav-dropdown-menu .plain-btn:hover {
    color: #6C6C6C;
}
.plain-btn:active {
    color: #6C6C6C;
}
.plain-btn-yellow {
    margin: -0.25em -0.25em 0 0;
    padding: 0.25em 1.5em 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #FEBD55;
}
.plain-btn-yellow:hover {
    color: #6C6C6C;
}
.plain-btn-yellow:active {
    color: #6C6C6C;
}
.outline-btn-1 {
    margin: -0.6em 0 0 0.5em;
    padding: 0.5em 1em;
    border: 2px solid #FEBD55;
    border-radius: 4px;
    font-family: 'Lato', Arial, Sans-Serif;
    font-weight: 500;
    color: #FEBD55;
    line-height: 1.25;
}
.outline-btn-1:hover {
    border-color: #6C6C6C;
    color: #6C6C6C;
}
.outline-btn-1:active {
    border-color: #6C6C6C;
    color: #6C6C6C;
}
.plain-btn-dropdown {
    display: block;
    padding: 0.5em 0.15em 0.5em 0;
    width: 12em;
    margin: -0.25em 0 0 0;
    font-weight: 500;
    line-height: 1.2;
    color: #FEFEFE;
}
.plain-btn-dropdown:hover {
    color: #6C6C6C;
}
.plain-btn-dropdown:active {
    color: #6C6C6C;
}
.btn {
    display: inline-block;
    padding: 1em 3em;
    text-align: center;
    border-radius: 4px;
    background-color: #FEBD55;
    color: #FEFEFE;
    font-family: 'Lato', Arial, Sans-Serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08px;
}
.btn:hover {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.12);
    position:relative; top: -1px;
}
.mb-btn {
    display: block;
    width: auto;
    margin: 0;
    padding: 0 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #FEFEFE;
}
.mb-btn-dropdown {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.25em 1.5em;
    float: left !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #FEFEFE;
}
.yellow {
    display: block;
    width: 10em;
    color: #FEBD55 
}
.mb-btn:active {
  color: #2C2C2C;
}
.btn-cta {
    background-color: #FEBD55;
}
@media (max-width:768px) {
.btn-solid-1 {
    display: block;
    max-width: 84%;
    margin-left: 0;
    margin-right: 20px;
}}
*/

/* Banner */
.banner {
    margin: 0 0 10em 0 !important;
    height: 720px;
    overflow: hidden !important;
    background-color: #FEFEFE;
}
.banner-text {
    margin: 10em 0 0 0.25em;
    max-width: 600px;
}
.banner-text p {
    margin: 0 2em 2em 0;
}
.banner-image {
    margin: 3.75em 0 0 0;
} 
@media (max-width:768px) {
.banner {
    margin: 0 0 4em 0 !important;
    height: 840px;
    overflow: hidden;
    background-color: #FEFEFE;
}}
@media (max-width:768px) {
.banner-text {
    margin: 6em 0 0 2.5em !important;
}}
@media (max-width:768px) {
.banner-image {
    margin: 1em 0 0 0;
}} 

/* Trial Signup Forms */
#modalform, #popup {
    display: none;
}
.form-container {
    margin-left: 0.25em;
}
.grey-label {
    padding-bottom: 0.5em !important;
    color: #6C6C6C; 
}
.grey-label.white {
    color: #FEFEFE; 
}
.grey-placeholder {
    padding-left: 1em;
    margin-top: 1em;
    color: #FEFEFE !important; 
}
.email-field {
    padding-left:1em;
    margin-top: 1em;
    margin-right: 1em;
    width: 320px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #6C6C6C;
    background-color: #F5F5F5;
    color: #FEFEFE !important;
}
.email-field.white {
    border: solid 1px #F5F5F5;
    background-color: #124E5D;
}
.button {
    padding: 0.75em 2em;
    height: 56px;
    color: #FEFEFE;
    background-color: #FEBD55 ;
    border: 4px solid #FEBD55;
    border-radius: 3px;
}
#email {
    width: 320px;
    height: 56px;
    border-radius: 4px;
    border: solid 1px #FEFEFE;
    background-color: #124E5D;
    color: #FEFEFE !important;
}
@media (max-width:768px) {
#email {
    margin-bottom: 20px;
    width: 100%;
}
#getStarted {
    margin: 0;
    width: 100%;
}
}
.formgrp {
    padding-bottom: 16px;
    padding-top: 16px;
}
.modal-content {
    width: 760px !important;
    height: 1050px;
    border-radius: 8px;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    background-color: #FEFEFE;
    padding-left: 24px;
    padding-right: 24px;
}
.modal-content3{
    width: 500px !important;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    background-color: #FEFEFE;
    padding-left: 24px;
    padding-right: 24px;
}
@media (max-width:768px) {
.modal-content {
    width: 100% !important;
    height: auto;
    /*padding-left: 24px;
    padding-right: 24px;*/
}
.modal-content3 {
    width: 100% !important;
    height: auto;
    /*padding-left: 24px;
    padding-right: 24px;*/
}}
.labeltext {
    width: 200px;
    height: 20px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1c1c;
    padding-bottom: 12px;
}
.modal-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1c1c1c;
}
#textdetail {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c6c6c;
}
.signupbtn {
    width: 243px;
    height: 52px;
    background-color: #febd55;
    border-radius: 4px !important;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fefefe;
}
.form-control {
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6c6c6c;
    background-color: #fefefe;
}
#modalemail {
    width: 450px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.companycat {
    width: 450px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
/*.phonefield {
    width: 290px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}*/
.countryfield {
   width: 210px;
    height: 52px;
    border-radius: 4px;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.namefields {
    width: 205px;
    height: 52px;
    border-radius: 4px !important;
    border: solid 2px #6c6c6c;
    background-color: #fefefe;
}
.namefields:focus {
    border: 2px solid #222;
    background-color: #fefefe;
}
#privacy-notice {
    padding: 0 24px !important;
}
@media (max-width:768px) {
#modalemail {
    width: 100%;
    height: 52px;
}
.companycat {
    width: 100%;
    height: 52px;
}
.phonefield {
    width: 100%;
    height: 52px;
}    
.countryfield {
    width: 100%;
    height: 52px;
}
.namefields {
    width: 100%;
    height: 52px;
}}

/* Sections */
.section {
    margin: 7.5em 0 0 0 !important;
}
.feature-image-left {
    margin: 0 5em 0 0;
}
.feature-text-right {
    margin: 5em 0 0 2.5em !important;
}
.feature-image-right {
    margin: 0 0 0 5em;
}
.feature-text-left {
    max-width: 480px;
    margin: 5em -5em 0 2.5em !important;
}
@media (max-width:768px) {
.section {
    margin: 4em 0 0 0 !important;
}} 
@media (max-width:768px) {
.feature-image-left {
    margin: 0 0;
}}
@media (max-width:768px) {
.feature-text-right {
    margin: 1em 1em 0 2.5em !important;
}}
@media (max-width:768px) {
.feature-image-right {
    margin: 0 0;
}}
@media (max-width:768px) {
.feature-text-left {
    margin: 1em 1em 0 2.5em !important;
}}

/* Cards */
.features-section-title-home {
    padding: 0 2em !important;
    margin: 10em 0 0 0 !important;
}
.features-section-title {
    margin: 10em 0 0 0 !important;
}
@media (max-width:768px) {
.features-section-title {
    margin: 7.5em 0 0 2.5em !important;
}}.features-container {
    padding: 2em !important;
    margin: 3em 0 -2em 0 !important;
    overflow: hidden !important;
}
@media (max-width:768px) {
.features-container {
    margin: 2.5em 0 0 0 !important;
}}
.features-card-home-1 {    
    max-width: 960px !important;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card-home-2 {
    max-width: 960px !important;
    padding:  3em 2.5em 3em 3em;
    margin: 0 0 0 2em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card-home-1:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-1:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card-home-2:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card {
    max-width: 620px;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.features-card:hover {
    background-color: #124E5D;
    box-shadow: 0 2px 48px #2C2C2C32;
    position:relative; top:-0.25em;
    transition-property: background-color box-shadow position;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.card-middle {
    margin: 0 2em;
}
.features-icon {
    padding: 0 0 1.5em 0;
}
.features-title {
    padding: 0 0 0.5em 0;
}
.features-card:hover .features-icon {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card:hover .features-title {
    filter: invert(100%);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.features-card:hover p {
    color: #FEFEFE;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
@media (max-width:768px) {
.features-card {
    margin: 0 0 0 0;
    max-width: 100%;
    padding:  3em 2.5em 3em 3em;
    background-color: #fefefe;
    box-shadow: 0 2px 24px #2C2C2C00;
}}

/* Testimonials */
.testimonials-container {
    width: 2560px !important;
    padding: 2em !important;
    margin-top: 2em !important;
    overflow: hidden !important;
}
.testimonials-container {
    animation-duration: 25s;
    animation-name: slide;
    animation-iteration-count: infinite;
}
@keyframes slide {
  0% {margin-left: 0;}
  100% {margin-left: -40em;}
}
.testimonials-container-title {
    padding: 0 2em !important;
    margin: 10em 0 0 0 !important;
}
.testimonial-card {
    padding: 2em 2em 2em 2em;
    max-width: 620px;
    background: #FEFEFE;
    box-shadow: 0 2px 24px #2C2C2C16;
}
.testimonial-text {
    font-size: 16px;
    font-weight: 600;
    text-indent: -8px;
    color: #2C2C2C;
}
.testimonial-image {
    margin: 1.5em 0 0 0;
}
.testimonial-name {
    width: 232px;
    margin: 1.5em 0 0 1.5em;
    color: #6C6C6C;
    font-weight: 900;
}
.testimonial-position {
    width: 232px;
    margin: 0 0 0 1.5em;
    color: #2C2C2C;
    font-weight: 400;
}
.testimonial {
    margin-top: 8em !important;
}
@media (max-width:768px) {
.testimonial {
    margin: 5em auto 0 !important;
    width: 100%;
}}

/* Call to Action */
.cta {
    margin: 10em auto 0 !important;
    padding: 7.5em 10em 7.5em 10em !important;
    width: 1280px;
}
@media (max-width:768px) {
.cta {
    margin: 5em auto 0 !important;
    padding: 6em 0 6em 2em !important;
    width: 100%;
}}

/* Footer */
.footer {
    margin: 20em 0 0 0 !important;
    padding: 2em 0 1em 0 !important;
    background-color: #F4F6F6;
}
@media (max-width:768px) {
.footer {
    margin: 10em 0 0 0 !important;
}}
.footer-container {
    margin: -2.5em 0 0 0;
}
@media (max-width:768px) {
.footer-container {
    margin: -1em 0 0 0;
}}
.footer-logo {
    margin: 1.5em 5em 0.5em 0;
}
.footer-title {
    margin: 2em 0 1em 0;
}
.footer-plain-btn { 
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: 300;
  color: #1c1c1c;
}
.footer-text { 
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: 300;
  color: #1c1c1c;
}
@media (max-width:768px) { 
.footer-text {
  text-align: left;
}}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6d05095 */.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}
@media screen and (max-width: 768px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 0px;
}}
@media screen and (max-width: 414px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}}
@media screen and (max-width: 375px) { 
.mb-nav-icon {
  max-width: 40px;
  margin-top: 8px;
}}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1a91083 */.nav-mb-icon {
    width: 768px;
}
@media screen and (max-width:768px) { 
.nav-mb-icon {
    width: 768px;
}}
@media screen and (max-width:414px) { 
.nav-mb-icon {
    width: 414px;
}}
@media screen and (max-width:375px) { 
.nav-mb-icon {
    width: 375px;
}}/* End custom CSS */
/* Start custom CSS for spacer, class: .elementor-element-313e0215 */.line-3 {
  max-width: 32px;
  height: 6px;
  background-color: #1E434A;
  display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-295ba497 */.elementor-97 .elementor-element.elementor-element-295ba497 {
  width: 540px;
}

@media screen and (max-width: 1024px) { .elementor-97 .elementor-element.elementor-element-295ba497 {
  width: 460px;
}}

@media screen and (max-width: 768px) { .elementor-97 .elementor-element.elementor-element-295ba497 {
  width: 640px;
}}

@media screen and (max-width: 414px) { .elementor-97 .elementor-element.elementor-element-295ba497 {
  width: 100vw;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-5096fbf9 */.contact-label {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 14px;
  font-weight:900;
  line-height: 1.2;
  color: #1E434A;
}

@media screen and (max-width: 414px) { .contact-details {
  max-width: 80vw;
  margin-right: 6vw;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-700fe2ef */.contact-details {
  margin-top: 0;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2;
  color: #8d8d8d;
}

@media screen and (max-width: 414px) { .contact-details {
  max-width: 80vw;
  margin-right: 0vw;
  font-size: 24px;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-3283c3be */.location-title {
  width: 100vw;
  margin: 0;
}

@media screen and (max-width: 414px) { .contact-title {
  max-width: 80vw;
  margin-right: 6vw;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-a583c5f */p {
  margin: 0;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #8d8d8d;
}

.abt-body-txt {
  margin-bottom: 24px;
  max-width: 380px;
  color: #8d8d8d;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4e414457 */.elementor-97 .elementor-element.elementor-element-4e414457 {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4532ae93 */.elementor-97 .elementor-element.elementor-element-4532ae93 {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-1bb81d7 */.location-title {
  width: 100vw;
  margin: 0;
}

@media screen and (max-width: 414px) { .contact-title {
  max-width: 80vw;
  margin-right: 6vw;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-b5e074f */p {
  margin: 0;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #8d8d8d;
}

.abt-body-txt {
  margin-bottom: 24px;
  max-width: 380px;
  color: #8d8d8d;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-d6b9d92 */.elementor-97 .elementor-element.elementor-element-d6b9d92 {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-919c0ff */.elementor-97 .elementor-element.elementor-element-919c0ff {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-22c4618 */.location-title {
  width: 100vw;
  margin: 0;
}

@media screen and (max-width: 414px) { .contact-title {
  max-width: 80vw;
  margin-right: 6vw;
}}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-c74a7a3 */p {
  margin: 0;
  font-family: 'Lato', Arial, Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #8d8d8d;
}

.abt-body-txt {
  margin-bottom: 24px;
  max-width: 380px;
  color: #8d8d8d;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-fd8d537 */.elementor-97 .elementor-element.elementor-element-fd8d537 {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-e439cc4 */.elementor-97 .elementor-element.elementor-element-e439cc4 {
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-fba72ba */.footer {
  position: static;
  bottom: 0;
}

@media screen and (max-width: 414px) { .footer {
  overflow: hidden;
}}

@media screen and (max-width: 375px) { .footer {
  overflow: hidden;
}}/* End custom CSS */